@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #e6e6e6;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

nav {
  position: sticky;
  top: 0;
  z-index: 100;
}

.btn {
  border: none;
  background-color: transparent;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.header {
  background-color: #131921;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__logo {
  object-fit: contain;
  margin-right: 2rem;
}

.header a{
  max-height: 36.42px;
  margin-top: 0.5rem;
}

.header__search {
  padding: 0.8rem;
  font: inherit;
  border: none;
  border-radius: 0.25rem 0 0 0.25rem;
  width: 100%;
}

.header__searchContainer {
  display: flex;
  align-items: center;
  flex: 1;
}

.header__search:focus {
  outline: none;
}

.header__searchIcon {
  background-color: #f7b24b;
  height: 44.8px !important;
  width: 44.8px !important;
  padding: 0.5rem;
  border-radius: 0 0.25rem 0.25rem 0;
  cursor: pointer;
}

.header__searchIcon:hover {
  background-color: #f8a221;
}

.header__nav {
  display: flex;
  justify-content: flex-end;
  margin-left: 20px;
  color: #fff;
}

.header__option {
  display: flex;
  flex-flow: column wrap;
  margin-left: 20px;
}

.header__optionLineOne {
  font-size: 10px;
}

.header__optionLineTwo {
  font-size: 16px;
  font-weight: 700;
}

.header__optionCart {
  margin-inline: 20px;
}

.home__image {
  width: 100vw;
  mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.home__slider {
  display: flex;
  position: relative;
  overflow-x: hidden;
  margin-bottom: -150px;
}

.buttonLeft,
.buttonRight {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 10;
}

.buttonLeft {
  left: 20px;
}

.buttonRight {
  right: 20px;
}

.home__sliderSlide {
  display: flex;
  transition: all 0.3s;
}

/* Product.js */

.home__row {
  display: flex;
  justify-content: center;
}

.product {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 450px;
  min-width: 100px;
  background-color: #fff;
  margin: 10px;
  padding: 1rem;
  z-index: 1;
}

.product img {
  width: 100%;
  max-height: 200px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product__infoTitle {
  color: #007185;
  cursor: pointer;
  /* max-width: 300px; */
}

.product__infoTitle:hover {
  color: #ff571a;
  text-decoration: underline;
}

.product__rating {
  color: #f90;
}

.product__ratingStar {
  width: 18px !important;
}

.product__infoPrice {
  color: #B12704;
}

.product__btn {
  background-color: #ffd814;
  width: 40%;
  max-width: 200px;
  min-width: 150px;
  border-radius: 50px;
  margin-top: 1rem;
  position: relative;
  bottom: 0px;
}

.product__btn:hover {
  background-color: #f0ca07;
}

/* Checkout.js */
.checkout__container {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.checkout__containerItems {
  background-color: #fff;
  flex: 2;
  padding: 1rem;
}

hr {
  border: none;
  background-color: #c1c1c1;
  height: 1px;
  margin-top: 0.2rem;
  margin-bottom: 0.5rem;
}

.checkout__containerSummary {
  background-color: #fff;
  flex: 1;
  padding: 1rem;
  height: 120px;
  max-width: 300px;
}

.item {
  display: flex;
  gap: 1rem;
}

.item p {
  font-size: 1.2rem;
}

.price {
  font-weight: bold;
  font-size: 1.17em;
}

.checkout__containerSummary button {
  width: 100%;
}